<template name="room">
    <h1>{{name}}</h1>
    <div class="row row-fluid fullheight">
        <div class="col-sm-9 fullheight">
            <div class="well" style="width:100%;height:80%;">
                {{#each messages}}
                <div class="row">
                    <div class="col-sm-2" style="{{magic}}">
                        <b>{{sendername}}</b>
                    </div>
                    <div class="col-sm-10">
                        {{text}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-sm-3">
            owner: {{ownername}} {{#if ismine}}(that's you!){{/if}}<br />
        </div>
    </div>
</template>
